# Mac
.DS_Store

# Vim
*~
*.swp

# Project
conf.py
_build
index.rst

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
sdist/
wheels/
pip-wheel-metadata/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.pytest_cache/

# Translations
*.mo
*.pot

# Environments
_venv
